body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-left: 100px;
    background-color: #ecb0e1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
  }
  
  input, textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  